@charset "UTF-8";

/* ----------------------------------

  共通CSS

---------------------------------- */
* {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

nav li a {
  transition: color .3s
}

nav li a:hover,
nav li a:focus {
  color: #d8d8d8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0px;
}

h2 {
  text-align: center;
}

p {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.hdg__label {
  background: linear-gradient(-155deg, rgb(233,77,87) 0%, rgb(240,134,29) 100%);
  font-size: 1.6rem;
  letter-spacing: 3px;
  color: #fff;
  line-height: 70px;
}


/* ----------------------------------

  header

---------------------------------- */

header {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 74px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .05);
}

.logo {
  width: 178px;
  margin-left: 88px;
  display: inline-block;
  transition: opacity .3s;
}

.logo:hover,
.logo:focus {
  opacity: .6;
}

.header__nav {
  padding-right: 60px;
}

.header__nav--list {
  display: flex;
  padding-top: 14px;
}

.header__nav--item {
  font-size: 1.4rem;
  letter-spacing: 1.6px;
  font-weight: bold;
  margin-right: 30px;
}

.header__nav--link {
  font-size: inherit;
}

.header__nav--item._state {
  text-align: center;
  position: relative;
}

.state__text {
  position: absolute;
  color: #ef7e00;
  top: -14px;
  min-width: 100px;
  left: -11px;
  letter-spacing: 3px;
  user-select: none;
}


/* ----------------------------------

  mainvisual

---------------------------------- */

.mainvisual {
  padding-top: 74px;
  max-height: 100vh;
  overflow: hidden;
}

.mainvisual__image {
  width: 100%;
  height:auto;
}


/* ----------------------------------

  NEWS

---------------------------------- */

#news {
  background-color: #f9f7f5;
}

.news__slider {
  padding: 40px 74px;
}

.news__slider--inner {
  max-width: 1180px;
  margin: auto;
}

.news__slider .hooper {
  height: auto;
}

.news__slider .hooper-list {
  padding: 10px 0;
}

.news__slider .hooper-slide {
  max-width: 23.6%;
  margin-right: 1.5%;
}

.news__slider--link {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
  background-color: #fff;
  opacity: 1.0;
  transition: opacity .3s;
}

.news__slider--link:hover,
.news__slider--link:focus {
  opacity: .7;
}

.news__slider--detail {
  padding: 21px 14px 20px;
  font-size: 1.4rem;
}

.news__slider--intro {
  display: flex;
}

.news__slider--genre {
  display: block;
  background: linear-gradient(60deg, #ee7216 0%,  #ea4f54 100%);
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-align: center;
  max-width: 80px;
  min-width: 56px;
  padding: 3px;
  overflow-wrap: break-word;
}

.news__slider--detail time {
  margin-left: 14px;
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 4px;
  word-break: break-word;
}

.news__slider--text {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}

.news__slider--image {
  max-height: 195px;
  overflow: hidden;
}

.news__slider--image > img {
  width: 100%;
  height: auto;
  transition: transform .3s;
}

.news__slider--link:hover .news__slider--image > img,
.news__slider--link:focus .news__slider--image > img {
  transform: scale(1.06);
}

.hooper-navigation > button > .icon {
  opacity: 0;
}

.news__slider .hooper-next {
  right: -70px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.news__slider .hooper-next::before {
  content: '';
  display: inline-block;
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  border: 0px;
  border-top: solid 2px #e94d57;
  border-right: solid 2px #e94d57;
  transform: rotate(44deg);
}

.news__slider .hooper-prev {
  left: -70px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.news__slider .hooper-prev::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 15px;
  width: 20px;
  height: 20px;
  border: 0px;
  border-top: solid 2px #e94d57;
  border-right: solid 2px #e94d57;
  transform: rotate(225deg);
}

/* ----------------------------------

  SERVICE

---------------------------------- */

#service {
  background-color: #f9f7f5;
  overflow: hidden;
}

.service__section {
  position: relative;
  padding: 80px 0;
}

.service__section--inner {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__section:nth-child(3n) .service__section--inner {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.service__section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: top -40px right;
}

.service__section._bg1::after {
  background-image: url(../images/s-content_background1.jpg);
}

.service__section._bg2::after {
  right: auto;
  left: 0;
  background-image: url(../images/s-content_background2.jpg);
  background-position: top -40px left;
}

.service__section._bg3::after {
  background-image: url(../images/s-content_background3.jpg);
}

.service__section--detail {
  position: relative;
  margin: 50px 0;
  width: 50%;
}

.service__section--number {
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: bold;
  font-size: 10rem;
  transform : scaleX(1.1);
  letter-spacing: 11px;
  position: absolute;
  top: -60px;
  left: 65%;
  z-index: 10;
  background: linear-gradient(100deg, #ee7216 0%,  #ea4f54 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service__section:nth-child(3n) .service__section--number {
  right: 65%;
  left: auto;
}

.service__section--box {
  position: relative;
  z-index: 10;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
  padding: 58px 68px 44px 90px;
}

.service__section:nth-child(3n) .service__section--box {
  padding: 58px 90px 44px 68px;
}

.service__section--box > *:last-child {
  margin-bottom: 0;
}

.service__section--detail::before {
  content: '';
  position: absolute;
  left: -140%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: linear-gradient(74deg , #ee7216 0%, #ea4f54 100%, #ee7216 100%);
  height: calc(100% + 100px);
  width: 200%;
}

.service__section:nth-child(3n) .service__section--detail::before {
  right: -140%;
  left: auto;
}

.service__section--title {
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 18px;
}

.service__section--list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.service__section--os {
  background-color: #bebebe;
  color: #fff;
  padding: 3px 32px;
  font-size: 1.2rem;
  margin: 0 6px 6px 0;
}

.service__section--text {
  letter-spacing: 1px;
  line-height: 1.7;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.more__button {
  display: block;
  background: linear-gradient(125deg, #ee7216 0%, #ea4f54 50%, #ee7216 100%);
  background-size: 200% auto;
  text-align: center;
  padding: 16px 42px 16px 32px;
  transition: .5s;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  overflow-wrap : break-word;
}

.more__button:hover,
.more__button:focus {
  background-position: right center;
  color: #fff;
}

.more__button::before {
  content: '';
  position: absolute;
  right: 23px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 12px;
  height: 12px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.service__section--image {
  z-index: 10;
  width: 32%;
  margin-right: 140px;
}

.service__section:nth-child(3n) .service__section--image {
  margin: 0 0 0 140px;
}

/* ----------------------------------

  ABOUT

---------------------------------- */

#about {
  background-color: #f5ede3;
}

.about__wrapper {
  padding: 74px;
  position: relative;
}

.about__wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url(../images/a-line_left.png);
  width: 35%;
  height: 100%;
}

.about__wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url(../images/a-line_right.png);
  width: 35%;
  height: 100%;
}

.about__box {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #fff;
  padding: 50px 50px 70px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.about__box--detail {
  max-width: 650px;
  text-align: center;
}

.title__logo--bg img {
  width: 100%;
  height: auto;
  max-width: 102px;
}

.about__box--text {
  margin-bottom: 30px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.7;
  text-align: justify;
}

/* ----------------------------------

  RECRUIT

---------------------------------- */

#recruit {
  position: relative;
  background: linear-gradient( -155deg, #ea4f54 0%, #ee7216 100%);
  background-position: 0 -260px;
  background-repeat: no-repeat;
  background-color: #f5ede3;
  padding: 74px 74px 40px;
}

.recruit__inner {
  max-width: 1110px;
  margin: 0 auto;
}

.recruit__content {
  position: relative;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.recruit__content--title {
  font-size: 2.2rem;
  letter-spacing: 5px;
  margin-bottom: 18px;
}

.recruit__content--lead {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 13px;
  margin-bottom: 20px;
}

.recruit__content--text {
  font-size: 1.4rem;
  letter-spacing: 2px;
  line-height: 1.7;
}

.recruit__content--image {
  position: absolute;
  top: -37px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 20%;
  height: auto;
}

.recruit__list {
  display: flex;
  flex-wrap: wrap;
}

.recruit__list--item {
  width: 48.9%;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, .34);
  background-color: #fff;
  margin-right: 2.2%;
  margin-bottom: 8px;
}

.recruit__list--item:nth-of-type(2n) {
  margin-right: 0px;
}

.recruit__list--link {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  opacity: 1.0;
  transition: opacity .3s;
}

.recruit__list--link:hover,
.recruit__list--link:focus {
  opacity: .7;
}

.recruit__list--image {
  max-height: 300px;
  overflow: hidden;
}

.recruit__list--link .recruit__list--image img {
  transition: transform .3s;
}

.recruit__list--link:hover .recruit__list--image img,
.recruit__list--link:focus .recruit__list--image img {
  transform: scale(1.06);
}

.recruit__list--text {
  padding: 30px;
  text-align: center;
}

.recruit__list--title {
  font-size: 2.2rem;
  letter-spacing: 7px;
}

.recruit__list--title > span {
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient( 160deg, #f0861d 0%,  #e94d57 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ----------------------------------

  RECRUIT LIST

---------------------------------- */

.occupation {
  padding: 90px 90px 60px;
  background-image: url(../images/recruit-list-bg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.occupation__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}

.title__logo {
  text-align: center;
  margin-bottom: 10px;
}

.title__logo img {
  width: 100%;
  height: auto;
  max-width: 128px;
}

.occupation__title {
  font-size: 1.8rem;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.occupation__title > span {
  display: block;
  background: linear-gradient(100deg, #ee7216 0%,  #ea4f54 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 7px;
  margin-top: 18px;
}

.occupation__list {
  display: flex;
  flex-wrap: wrap;
}

.occupation__item {
  width: 49%;
  margin-right: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
}

.occupation__item:nth-child(2n) {
  margin-right: 0;
}

.occupation__item {
  text-align: center;
  margin-bottom: 28px;
  max-height: 240px;
}

.occupation__image {
  width: 48%;
  overflow: hidden;
}

.occupation__image img {
  width: 100%;
  height: auto;
}

.occupation__detail {
  width: calc(52% - 60px);
  margin: 30px;
  overflow: hidden;
}

.occupation__detailInner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.occupation__itemTitle {
  font-size: 1.6rem;
  letter-spacing: 3px;
  padding-left: 6px;
}

.occupation__itemTitle > span {
  display: block;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-top: 7px;
  padding-right: 1px;
  background: linear-gradient( 160deg, #f0861d 0%,  #e94d57 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.occupation__genreList {
  margin-top: 20px;
}

.occupation__genreItem {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  line-height: 26px;
}

.occupation__genreLink {
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.occupation__genreLink::after {
  position: absolute;
  bottom: 5px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform-origin: left top;
  transform: scale(1, 1);
  transition: transform .3s;
}

.occupation__genreLink:hover::after,
.occupation__genreLink:focus::after {
  transform: scale(0, 1);
  transform-origin: right top;
}

/* ----------------------------------

  INFORMATION

---------------------------------- */

#info {
  padding: 48px 74px 70px;
  position: relative;
}

#info::after {
  content: '';
  position: absolute;
  background-color: #f5ede3;
  height: 260px;
  width: 100%;
  bottom: 0px;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.info__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}

.info__title {
  font-size: 1.8rem;
  letter-spacing: 3px;
  margin-bottom: 64px;
}

.info__list {
  display: flex;
  flex-wrap: wrap;
}

.info__list--item {
  width: 49%;
  margin-right: 2%;
}

.info__list--item:nth-child(2n) {
  margin-right: 0;
}

.info__list--link {
  display: flex;
  flex-direction: column-reverse;
  background-color: #fff;
  overflow: hidden;
  opacity: 1.0;
  transition: opacity .3s;
}

.info__list--link:hover,
.info__list--link:focus {
  opacity: .7;
}

.info__list--image {
  max-height: 230px;
  overflow: hidden;
}

.info__list--link .info__list--image img {
  transition: transform .3s;
}

.info__list--link:hover .info__list--image img,
.info__list--link:focus .info__list--image img {
  transform: scale(1.04);
}

.info__list--title {
  padding: 24px 0px 30px 26px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.3rem;
  color: #000;
  letter-spacing: 2px;
}

.info__list--title > span {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 2px;
  background: linear-gradient( 170deg, #f0861d 0%,  #e94d57 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}

.info__list--title::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 28px;
  background: linear-gradient(to bottom right, rgba(255,255,255,0) 50%, #e94d57 52%, #f0861d 100%) no-repeat top left/100% 100%;
}

/* ----------------------------------

  footer

---------------------------------- */

footer {
  padding: 32px 0px 58px;
  text-align: center;
  font-weight: bold;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo--link {
  opacity: 1.0;
  transition: opacity .3s;
}

.footer__logo--link:hover,
.footer__logo--link:focus {
  opacity: .7;
}

.footer__logo--link img {
  width: 100%;
  height: auto;
  max-width: 128px;
}

.footer__nav {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer__item {
  font-size: 1.4rem;
  display: inline;
  margin-right: 22px;
  letter-spacing: 1px;
}

.footer__item:last-child {
  margin-right: 0px;
}

.footer__item--link {
  font-size: inherit;
}

.footer__item--link img {
  opacity: 1.0;
  transition: opacity .3s;
}

.footer__item--link:hover img,
.footer__item--link:focus img {
  opacity: .7;
}

.facebook {
  width: 100%;
  height: auto;
  max-height: 32px;
}

.twitter {
  width: 100%;
  height: auto;
  max-height: 32px;
}

footer p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}